# Entorno virtual
venv/

# Archivos de dependencias
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de entorno
.env

# Archivos de logs
tmp/
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Node.js
node_modules/
dist/

# VSCode
.vscode/
